body {
	background-color: #5D8736;
	text-align: center;
	color: #F4FFC3;
	font-size: 3em;
}

a {
background-color: #809D3C;
color: #F4FFC3;
padding: 8px;
border-radius: 20%;
margin: 10px;
}

.red_a
{
background-color: #8E1616;
color: #1D1616;
}

h3 {
  font-size: 1.25em;
}

.page_tittle{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.25em;
}

.card {
	background-color: #A9C46C;
}

.li_row {
	background-color: #A9C46C;
	padding: 10px;
}

.accordion-button{
  	background-color: #A9C46C;
  	color: #F4FFC3;
	  font-size: 1.15em;
}

.accordion-body{
  	background-color: #A9C46C;
  	color: #F4FFC3;
}

.btn{
  background-color: #809D3C;
  color: #F4FFC3;
}
