<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Home de {{ user.username }}</h1>
		<a href="{% url 'logout_user' %}">Cerrar sesión</a>
		<h2>Listado de Repertorios</h2>

		<ul>
		
			{% for repertoire in repertoires %}
				<li>{{ repertoire.repertoire_name }} | 
				{{ repertoire.repertoire_color }} |
					<a 
					href="/open-repertoire/{{ repertoire.repertoire_name }}
					/{{ repertoire.repertoire_color }}/">
					Abrir
					</a>
					|
					<a 
					href="/delete-repertoire/{{ repertoire.repertoire_name }}/">
					Eliminar
					</a>
				</li>
			{% endfor %}
		</ul>
		<br>
		<a href="/new-repertoire/">
		Crear un nuevo Repertorio
		<a>
	</body>
</html>
