<!DOCTYPE html>
<html>
	<head>
		<title>New Repertoire</title>
	</head>
	<body>
		<h2>Crear un Nuevo Repertorio {{ user.0 }}<h2>
		<form method="post" 
		action="{% url 'process_new_repertoire' user=user %}">
			{% csrf_token %}i
			<label for="repertoire_name">Nombre del Repertorio: </label>
			<input type="text" name="repertoire_name" required>
			<br>
			<label for="repertoire_color">Color del Repertorio: </label>
			<br> 
			<input type="radio" name="repertoire_color" 
			value="White" checked>Blancas
			<br>
			<input type="radio" name="repertoire_color"
			value="Black">Negras
			<br>
			<button type="submit">Crear</button>
		</form>
	</body>
</html>
