<!DOCTYPE html>
<html>
	<head>
		<title>Nuevo Usuario</title>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		<meta name="viewport" content="width=device-width,
		initial-scale=1">
	</head>
	<body class="bg-success bg-opacity-25">
		<span class="d-flex justify-content-center pt-3">
			<h2 class="fw-bold">Crear un Nuevo Usuario</h2>
		</span>
		<hr class="border-top border-dark border-4">
		<form method="post" 
		action="{% url 'process_new_user' %}"
		class="d-flex flex-column 
		align-items-center mb-5">
			{% csrf_token %}
			<div class="w-25 mb-2">
				<label for="username" class="form-label">
				Nombre del Usuario: 
				</label>
				<input type="text" name="username" 
				class="form-control login_input" required>
			</div>
			<br>
			<div class="w-25 mb-2">
				<label for="email" class="form-label">
				Correo Electrónico: 
				</label>
				<input type="email" name="email" 
				class="form-control login_input" required>
			</div>
			<br>
			<div class="w-25 mb-2">
				<label for="password1" class="form-label">
				Contraseña:<br> 
				</label>
				<input type="password" name="password1" 
				class="form-control login_input" required>
			</div>
			<br>
			<div class="w-25 mb-4">
				<label for="password2" class="form-label">
				Repetir la contraseña: 
				</label>
				<input type="password" name="password2"
				class="form-control last_input" required>
			</div>
			<br>
			<div>
				<button type="submit" class="btn btn-success">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" 
				 	height="30" fill="currentColor" 
				 	class="bi bi-person-fill-add" viewBox="0 0 16 16">
  					<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0
					7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 
					0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 
					0 1 1-6 0 3 3 0 0 1 6 0"/>
  					<path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8
					12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 
					0-6 3-6 4"/>
					</svg><span class="p-3">Registrarse</span>
				</button>
				<a class="btn btn-danger" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="30"
					height="30" fill="currentColor" 
					class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
  					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 
					0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
					</svg><span class="p-3">Cancelar</span>
				</a>
			</div>
		</form>
		{% if error %}
    		<div class="text-danger fw-bold d-flex justify-content-center">
        		{{ error }}
    		</div>
		{% endif %}
	</body>
</html>
