<!DOCTYPE html>
<html>
	<head>
		<title>Variantes Repertorio</title>
	</head>
	<body>
		<h1>Variantes del Repertorio: {{ repertoire_name }}</h1>
		<a href="/home">Volver al home</a>
		<br>
		<a href= "{% url 'structures' repertoire_name repertoire_color %}">

		Añadir Variante
		</a>
		<ul>
		{% for variant in variants %}
			<br>
			<li>{{ variant.moves }}</li>
			<form method="POST"
			action="{% url 'del_from_repertoire'  %}">
				{% csrf_token %}
				<input type="hidden" name="structure"
				value="{{ variant.structure }}">
				<input type="hidden" name="moves"
				value="{{ variant.moves }}">
				<input type="hidden" name="repertoire_name"
				value="{{ repertoire_name }}">
				<input type="hidden" name="repertoire_color"
				value="{{ repertoire_color }}">
				<button type="Submit">Eliminar del Repertorio</button>
			</form>
		{% endfor %}
		</ul>
	</body>
</html>
