<!DOCTYPE html>
<html>
	<head>
		<title>Chess Structures</title>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>
	<body>
		<h1>Estructuras de Peones</h1>
		</br>
		<ul style="list-style: none;">
			{% for structure in context.structures %}
				<li>
					<div class="card" style="width: 20rem;">
						<div class="card-body">
							<h5 class="text-center 
							text-uppercase">
								{{structure.structure_name}}
							</h5>
  						<img 
						src="/static/{{structure.structure_name}}.jpg" 
						class="card-img-top" alt="...">
							<p class="card-text">
								{{structure.structure_description}}
							</p>
							<a href="/variants/{{ context.user }}/{{ context.repertoire_name }}/{{ context.repertoire_color }}/{{ structure.structure_name}}/">
							Variantes
							</a>
  						</div>
					</div>
					</br>
				</li>
			{% endfor %}
		</ul>
	</body>
</html>
